<h1 mat-dialog-title>Add Client Form</h1>
<div mat-dialog-content>
    <form [formGroup]="contactForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <app-phone-number-input matInput formControlName="phoneNumber"></app-phone-number-input>
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-label>Preferences</mat-label>
        <mat-form-field>
            <mat-label>Brands</mat-label>
            <textarea matInput formControlName="preferredBrands"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Colors</mat-label>
            <textarea matInput formControlName="preferredColors"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">
        Cancel
    </button>
    <button mat-raised-button color="primary" [disabled]="!contactForm.valid" (click)="onSave()">
        Save
    </button>
</div>