.nail-services-config-wrapper {
    display: flex;
}

.nail-services-config-list {
    min-height: 250px;
    max-height: 500px;
    width: 20%;
    overflow: auto;
    margin: 0.5em;
    border: 0.1em solid lightgray;
    border-radius: 10px;
}

.nail-service-config-main {
    max-height: 500px;
    margin: 0.5em;
}

.nail-service-config-main form {
    display: flex;
    flex-direction: column;
}

.delete-nail-service-button {
    margin-left: 1em;;
}