@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

:root {
    --main-background-color: #DCDCDC;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: var(--main-background-color); */
}

mat-card {
    margin: 1em 0.5em;
}