.client-search-container {
    display: flex;
    align-items: center;
}

.search-button {
    margin-left: 2em;
    margin-bottom: 1em;
}

/* .search-table-header {
    flex-direction: column;
    justify-content: center;
} */

.search-row-actions {
    text-align: center;
    justify-content: center;
}

.client-detail {
  overflow: hidden;
  display: flex;
}

.selected-row {
  background: #efefef;
}

.client-row:not(.selected-row):hover {
  background: whitesmoke;
}

.client-row:not(.selected-row):active {
  background: #efefef;
}
