<mat-card>
    <mat-card-header>
        <mat-card-title>Clients</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div class="client-search-container">
                <mat-form-field appearance="outline">
                    <mat-label>Search Clients</mat-label>
                    <input matInput name="searchBox" [(ngModel)]="searchText">
                </mat-form-field>
                <button class="search-button" mat-raised-button color="primary" type="button"
                    (click)="search()">Search</button>
            </div>
        </form>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstName + ' ' + row.lastName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dob">
                <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.dateOfBirth}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" class="search-row-actions">
                    <button mat-icon-button (click)="openEditDialog(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    |
                    <button mat-icon-button (click)="openDeleteDialog(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="10" [pageSize]="5" [pageSizeOptions]="[2, 5, 10]">
        </mat-paginator>

        <button mat-raised-button color="accent" type="button" (click)="openAddDialog()">
            <mat-icon>add</mat-icon>
            Add Client
        </button>
    </mat-card-content>
</mat-card>