.client-search-container {
    display: flex;
    align-items: center;
}

.search-button {
    margin-left: 2em;
    margin-bottom: 1em;
}

/* .search-table-header {
    flex-direction: column;
    justify-content: center;
} */

.search-row-actions {
    text-align: center;
    justify-content: center;
}