<mat-card>
    <mat-card-title>Clients</mat-card-title>
    <form>
        <div class="contact-search-container">
            <mat-form-field appearance="outline">
                <mat-label>Search Contacts</mat-label>
                <input matInput name="searchBox" [(ngModel)]="searchText">
            </mat-form-field>
                <button class="search-button" mat-raised-button color="primary" type="button" (click)="search()">Search</button>
        </div>
    </form>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dob">
            <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dob}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="10" [pageSize]="5" [pageSizeOptions]="[2, 5, 10]">
    </mat-paginator>

    <button mat-raised-button color="accent" type="button" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        Add Contact
    </button>
</mat-card>